<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361942648127-96njo02grtpb1lhqeohlb3u2iiikurgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361942648127-96njo02grtpb1lhqeohlb3u2iiikurgd</string>
	<key>API_KEY</key>
	<string>AIzaSyA9SuWjg6P25mwsjwl8LGRpMX20K293fNU</string>
	<key>GCM_SENDER_ID</key>
	<string>361942648127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>lab-tracker-4b51a</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-tracker-4b51a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361942648127:ios:a308450859589722b37f8a</string>
</dict>
</plist>